<!DOCTYPE html>

<html>
  <head>
    <title>Weather</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
  </head>

  <body>
    <div class="main-content">
      {{>header}}
    
      <p>Use this site to get your weather!</p>
      <form>
        <input type="text" placeholder="Location">
        <button type="submit">Search</button>
      </form>
      <p id="location"></p>
      <div id="weather-container">
        <div id="weather-icon"></div>
        <p id="weather-summary"></p>
      </div>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
  </body>
</html>